@import url('https://fonts.googleapis.com/css2?family=Acme&family=Domine:wght@500&family=Lato:ital,wght@1,300&family=Montserrat&family=Oswald:wght@300&display=swap');

/* Global Settings */
* {
    margin: 0;
    border: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Acme, sans-serif;
    font-size: 124%;
    font-weight: lighter;
    background-color: #007070;
}
a {
    color: #707040;
}
a:hover {
    background: white;
}
input[type=submit]:hover {
    background: #e0e040;
}
button:hover {
    background: #e0e040;
}

#container {
    max-width: 1600px;
    width: 98%;
    margin: 0 auto;
    background-color: #80e0e0;
}
/* Header */
#headline-div {
    width: 100%;
    height: 90px;
    background-color: #009090;
}
#logo-div {
    width: 346px;
    height: 86px;
    overflow: hidden;
    border: 2px #0070a0 solid;
    border-radius: 4px;
    float: left;
}
#logo-img {
    display: block;
    width: 100%;
}
#heading-div {
    width: 440px;
    float: right;
}
#heading-div h1 {
    line-height: 90px;
    font-size: 200%;
    text-shadow: 2px 2px #002020;
    color: #e0e040;
}

/* Menu */
#menu-bar-div {
    width: 100%;
    height: 50px;
    background: #007070;
}
#menu-div {
    width: 300px;
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
}
#menu-div ul {
    list-style: none;
}
#menu-div li {
    display: inline;
    background:#80e0e0;
    margin-right: 10px;
}
#menu-div li:hover {
    background: white;
}
#menu-div li a {
    color: black;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
}
.current-page {
    text-decoration: underline;
}
/* Introductory Section */
#introductory-section {
    clear: both;
    width: 100%;
    height: 440px;
    background: url("../images/intro-1600px.webp") right top no-repeat #007070;
    overflow: hidden;
    position: relative;
}
#introduction-div {
    width: 320px;
    position: absolute;
    left: 40px;
    top: 30px;
    background: rgba(0, 220, 220, 0.8);
    border-radius: 16px;
    padding: 5px 5px 25px 5px;
}
/* Menu Article Section */
#menu-article-section {
    margin-top: 10px;
    width: 100%;
}
#menu-article-section > div {
    width: calc(33% - 12px);
}
#menu-article-section > div img {
    width: 100%;
    display: block;
}
#main-pic-div {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}
#menu-article-div {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    text-align: center;
}
#menu-article-div a {
    color: #002020;
}
#dessert-pic-div {
    display: inline-block;
}
/* Registration Section */
#registration-section {
    clear: both;
    width: 100%;
    height: 440px;
    margin-top: 10px;
    padding-top: 20px;
    background: url("../images/registration-bgnd-1600px.webp") left top no-repeat #007070;
}
#registration-div {
    width: 320px;
    height: 400px;
    margin: 0 auto;
    background: rgba(0, 200, 200, 0.7);
    overflow: hidden;
}
#registration-div label {
    margin-left: 5px;
}
.reg-input {
    width: 300px;
    margin-left: 5px;
    margin-bottom: 8px;
    background: rgba(255, 255, 255, 1);
    font-size: 124%;
}
/* submit buttons */
.submit {
    width: auto;
    padding: 8px;
    background: green;
    border: 2px solid #202020;
}
#submit-registration {
    width: auto;
    margin-left: 125px;
}
#registration-status {
    margin-left: 70px;
    display: none;
    text-align: center;
    color: #404020;
    font-style: italic;
}
/* final div style */
#final-div {
    background-image: linear-gradient(#004040, #00e0e0);
    text-align: center;
    padding-top: 10px;
}
/* User Comments Section */
#comments-section {
    margin: 0 auto;
    width: 550px;
    height: 210px;
    padding: 10px;
    background: #009090;
    text-align: center;
}
#comments {
    width: 420px;
    height: 100px;
    margin-bottom: 10px;
    font-size: 100%;
}
#comments-status {
    margin-top: 10px;
    display: none;
    text-align: center;
    color: #404020;
    font-style: italic;
}
/* Contact Section */
#contact-section {
    text-align: center;
}
/* Credits Section */
#credits-section {
    margin-top: 10px;
    text-align: center;
}
/* Footer */
footer {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding-top: 10px;
    background: #007070;
}
.page-top-link-div {
    width: 30%;
    float: left;
    text-align: center;
}
.page-top-link-div a {
    color: black;
}
.social-networks-div {
    width: 40%;
    float: left;
    text-align: center;
}
.social-networks-div ul {
    list-style: none;
}
.social-networks-div li {
    display: inline;
    background: #00e0e0;
    padding: 8px;
    margin-right: 5px;
}
.css-validator-div {
    width: 30%;
    float: left;
    text-align: center;
}
/* Recipe Page */
#article-section {
    text-align: center;
    background: linear-gradient(#006060, #00e0e0);
    padding: 0 10px 10px 10px;
}

/* Recipe Section */
#recipe-section {
    width: calc(100% - 6px);
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #009090;
    border: 1px solid black;
}
#ingredients-pic-div {
    display: inline-block;
    vertical-align: top;
    width: calc(26% - 10px);
    margin-left: 10px;
    /*
    margin-right: 10px;
    */
}
#ingredients-img {
    display: block;
    width: calc(100% - 4px);
    border: 1px solid #002020;
}
#final-img {
    width: calc(100% - 4px);
    display: block;
    border-left: 1px solid #002020;
    border-right: 1px solid #002020;
    border-bottom: 1px solid #002020;
}

#ingredients-div {
    display: inline-block;
    vertical-align: top;
    width: calc(33% - 10px);
    margin-right: 10px;
    margin-left: 10px;
}
#ingredients-div h3 {
    font-style: italic;
}
#ingredients-div li {
    margin-left: 18px;
}
#recipe-div {
    display: inline-block;
    vertical-align: top;
    width: calc(39% - 10px);
    border: 1px solid #002020;
}
#recipe-div img {
    width: 100%;
}

#recipe-div p {
    padding: 0 5px 5px 5px;
}

#recipe-controls-div {
    width: calc(100% - 18px);
    margin: 0 auto;
    border: 1px solid #002020;
    background: #a0a0a0;
    border-radius: 6px;
    padding: 5px;
    text-align: center;
    position: relative;
}
#slider {
    width: calc(85% - 25px);
}
#next-step-btn {
    position: absolute;
    left: 5%;
    display: inline-block;
    vertical-align: top;
    font-size: 145%;
}
#next-step-btn:hover {
    background: #e0e040;
}
#controls-text {
    width: 70%;
    text-align: center;
    font-style: italic;
    font-size: 100%;
    display: inline-block;
}
#prev-step-btn {
    position: absolute;
    right: 5%;
    display: inline-block;
    font-size: 145%;
}
#prev-step-btn:hover {
    background: #e0e040;
}
#print-div {
    width: calc(100% - 10px);
    padding: 5px;
    text-align: center;
    background: #009090;
}
#print-btn {
    border: 1px solid #002020;
    font-size: 100%;
    padding: 5px;
    background: #009000;
}
#print-btn:hover {
    background: #e0e040;
}
#print-text {
    font-size: 100%;
    font-style: italic;
    padding: 5px;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
    /* Heading Bar */
    #headline-div {
        width: 100%;
        height: auto;
    }
    #logo-div {
        float: none;
        margin: 0 auto;
        width: 40%;
        height: auto;
    }
    #logo-img {
        display: block;
    }
    #heading-div {
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 60%;
        height: auto;
    }
    #heading-div h1 {
        line-height: normal;
    }
    /* Menu Article */
    #menu-article-section {
        width: 100%;
    }
    #menu-article-section > div {
        width: 92%;
        display: block;
    }
    #main-pic-div {
        float: none;
        margin: 0 auto;
        border: 2px solid #002020;
    }
    #menu-article-div {
        float: none;
        margin: 0 auto;
        padding: 20px 0 20px 0;
    }
    #dessert-pic-div {
        float: none;
        margin: 0 auto;
        border: 2px solid #002020;
    }
    /* Recipe Page */
    /* Split the recipe step onto a new row */
    #ingredients-pic-div {
        width: calc(40% - 15px);
    }
    #ingredients-div {
        width: calc(60% - 15px);
        margin-right: 0;
    }
    #recipe-div {
        width: calc(100% - 2px);
        margin-top: 10px;
        display: block;
    }
}
@media screen and (max-width: 580px) {
    #introductory-section {
        padding-top: 30px;
    }
    #introduction-div {
        position: unset;
        margin: 0 auto;
    }
    #comments-section {
        width: 90%;
        height: auto;
        padding-bottom: 10px;
    }
    #comments {
        width: 96%;
    }
    /* Recipe Page */
    /* Split the ingredients list and pic into single column */
    #ingredients-pic-div {
        display: block;
        width: 100%;
        margin: 0 auto 10px auto;
    }
    #ingredients-div {
        display: block;
        width: calc(100% - 17px);
        margin: 0 0 10px 15px;
    }
}